@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .delay-500 {
      transition-delay: 500ms;
    }
  }

  @layer utilities {
    .transition-fast {
      transition: width 250ms ease-in-out;
    }
  
    .transition-slow {
      transition: width 400ms ease-in-out;
    }
  }
  